<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Players</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hello players</h1>

    <span>Please input your names and starting cards:</span>
    <br>
        <input type="text" class="playerOneName" value="Alex">
        <input type="radio" id="ace" name="playerOneCard" value="ace">
        <label for="ace">ace</label>
        <input type="radio" id="two" name="playerOneCard" value="2">
        <label for="two">2</label>
        <input type="radio" id="three" name="playerOneCard" value="3">
        <label for="three">3</label>
        <input type="radio" id="four" name="playerOneCard" value="4">
        <label for="four">4</label>
        <input type="radio" id="five" name="playerOneCard" value="5">
        <label for="five">5</label>
        <input type="radio" id="six" name="playerOneCard" value="6">
        <label for="six">6</label>
        <input type="radio" id="seven" name="playerOneCard" value="7">
        <label for="seven">7</label>
        <input type="radio" id="eight" name="playerOneCard" value="8">
        <label for="eight">8</label>
        <input type="radio" id="nine" name="playerOneCard" value="9">
        <label for="nine">9</label>
        <input type="radio" id="ten" name="playerOneCard" value="10">
        <label for="ten">10</label>
        <input type="radio" id="jack" name="playerOneCard" value="11">
        <label for="jack">jack</label>
        <input type="radio" id="queen" name="playerOneCard" value="12">
        <label for="queen">queen</label>
        <input type="radio" id="king" name="playerOneCard" value="13">
        <label for="king">king</label>





        <br>
        <input type="text" class="playerTwoName" value="Lawrence">
        <input type="radio" id="ace" name="playerTwoCard" value="ace">
        <label for="ace">ace</label>
        <input type="radio" id="two" name="playerTwoCard" value="2">
        <label for="two">2</label>
        <input type="radio" id="three" name="playerTwoCard" value="3">
        <label for="three">3</label>
        <input type="radio" id="four" name="playerTwoCard" value="4">
        <label for="four">4</label>
        <input type="radio" id="five" name="playerTwoCard" value="5">
        <label for="five">5</label>
        <input type="radio" id="six" name="playerTwoCard" value="6">
        <label for="six">6</label>
        <input type="radio" id="seven" name="playerTwoCard" value="7">
        <label for="seven">7</label>
        <input type="radio" id="eight" name="playerTwoCard" value="8">
        <label for="eight">8</label>
        <input type="radio" id="nine" name="playerTwoCard" value="9">
        <label for="nine">9</label>
        <input type="radio" id="ten" name="playerTwoCard" value="10">
        <label for="ten">10</label>
        <input type="radio" id="jack" name="playerTwoCard" value="11">
        <label for="jack">jack</label>
        <input type="radio" id="queen" name="playerTwoCard" value="12">
        <label for="queen">queen</label>
        <input type="radio" id="king" name="playerTwoCard" value="13">
        <label for="king">king</label>

        <br>
        <button type="submit" class="submitPlayerValues">Start Game</button>

    <script src="/js/main.js"></script>
</body>
</html>