<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End Game</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="container">
    
    <h1>Number of <%=player.name%>'s remaining cards:</h1>
    <span class="gameId hidden"><%=gameId%></span>
    <span class="player hidden"><%=playerNum%></span>

    <h3 class="remainingCards"></h3>
    <br>

    <label>
        <input type="radio" name="remainingCards" value="1">
        <span>1</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="2">
        <span>2</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="3">
        <span>3</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="4">
        <span>4</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="5">
        <span>5</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="6">
        <span>6</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="7">
        <span>7</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="8">
        <span>8</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="9">
        <span>9</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="10">
        <span>10</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="11">
        <span>11</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="12">
        <span>12</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="13">
        <span>13</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="14">
        <span>14</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="15">
        <span>15</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="16">
        <span>16</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="17">
        <span>17</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="18">
        <span>18</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="19">
        <span>19</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="20">
        <span>20</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="22">
        <span>22</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="23">
        <span>23</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="24">
        <span>24</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="25">
        <span>25</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="26">
        <span>26</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="27">
        <span>27</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="28">
        <span>28</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="29">
        <span>29</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="30">
        <span>30</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="31">
        <span>31</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="32">
        <span>32</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="33">
        <span>33</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="34">
        <span>34</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="35">
        <span>35</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="36">
        <span>36</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="37">
        <span>37</span>
    </label>
    <label>
        <input type="radio" name="remainingCards" value="38">
        <span>38</span>
    </label>






    <button type="submit" class="btn addCards">Submit</button>

</section>

    <script src="/js/endGame.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>