<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Players</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <h1><%=playerOne.name%>'s Turn</h1>


    <span>Number of Cards Drawn:</span>
    <span class="numDrawnCards">1</span>

    <br>
    <input type="radio" id="one" name="cardsDrawn" value="1" checked>
    <label for="one">1</label>
    <input type="radio" id="two" name="cardsDrawn" value="2">
    <label for="two">2</label>
    <input type="radio" id="three" name="cardsDrawn" value="3">
    <label for="three">3</label>
    <input type="radio" id="four" name="cardsDrawn" value="4">
    <label for="four">4</label>
    <input type="radio" id="five" name="cardsDrawn" value="5">
    <label for="five">5</label>

    <button type="button" class="addFive">Add Five</button>

    <br>
    
    <span>New Stack Card:</span>
    <span class="newStackCard"></span>

    <br>
    <input type="radio" id="ace" name="stackCard" value="ace">
    <label for="ace">ace</label>
    <input type="radio" id="two" name="stackCard" value="2">
    <label for="two">2</label>
    <input type="radio" id="three" name="stackCard" value="3">
    <label for="three">3</label>
    <input type="radio" id="four" name="stackCard" value="4">
    <label for="four">4</label>
    <input type="radio" id="five" name="stackCard" value="5">
    <label for="five">5</label>
    <input type="radio" id="six" name="stackCard" value="6">
    <label for="six">6</label>
    <input type="radio" id="seven" name="stackCard" value="7">
    <label for="seven">7</label>
    <input type="radio" id="eight" name="stackCard" value="8">
    <label for="eight">8</label>
    <input type="radio" id="nine" name="stackCard" value="9">
    <label for="nine">9</label>
    <input type="radio" id="ten" name="stackCard" value="10">
    <label for="ten">10</label>
    <input type="radio" id="jack" name="stackCard" value="11">
    <label for="jack">jack</label>
    <input type="radio" id="queen" name="stackCard" value="12">
    <label for="queen">queen</label>
    <input type="radio" id="king" name="stackCard" value="13">
    <label for="king">king</label>

    <br>
    <button type="submit" class="endGame">End Game</button>
    <button type="submit" class="endTurn">End Turn</button>

    <script src="/js/main.js"></script>
</body>
</html>